#root {
  margin: 0 auto;
  padding: 2rem;
  height: 100%;
}

#avatar-container {
  border-radius: 10px;
}

#avatar {
  border-radius: 50%;
  background-color: gray;
}

.header,
.footer {
  background-color: white;
  height: 50px;
}

.btn {
  background-color: rgb(255, 166, 0);
  border-radius: 20px;
  color: white;
  font-style: bold;
  font-weight: 600;
}
